.ui.nav-bar {
  background-color: #12121212;
}

.main-header {
  background-color: #363636;
  margin-top: -1em;
  padding-top: 4em;
  padding-bottom: 4em;
  margin-bottom: 2em;
}

.main-header .header {
  color: white;
}

.card-description {
  font-size: 1.1em;
}

.pagination-buttons {
  text-align: center;
}
